* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    /* width: 100%; */
    padding: 7px;
    /* border: 1px solid red; */
    background-color: rgb(241, 228, 228);
    font-size: 20px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.left-menu-icon {
    display: flex;
    margin: 1rem 1rem;
    i {
        font-size: 50px;
        color: rgb(177, 142, 114);
    }
    i:active {
        color: orange;
        transition: all 0.15s;
    }
}

.right-menu {
    display: flex;
    position: absolute;
    right: 180px;
    ul {
        display: flex;
        margin-right: 3px;
        li {
            padding-right: 50px;
            a {
                color: black;
            }
            a:hover {
                color: orange;
                transition: all 0.2s;
            }
        }
    }
}
.right-menu-btn {
    display: flex;
    border: 1px solid orange;
    border-radius: 8px;
    width: 170px;
    padding: 15px 0;
    margin-right: 20px;
    justify-content: center;
    a {
        color: rgb(110, 109, 109);
    }
}
.right-menu-btn:hover {
    background-color: orange;
    transition: all 0.15s;
}

/* .right-menu ul {
    display: flex;
    padding-right: 1rem;
    border: 1px solid red;
} */

/* .right-menu .right-menu-btn {
    color: black;
}

.right-menu .right-menu-btn a {
    color: black;
} */

/* Content Zone */
.container {
    width: 100%;
}
.content-container {
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    /* border: 1px solid red; */
    margin: 200px auto;
}
.container .content-container {
    h1 {
        font-size: 100px;
        padding-bottom: 70px;
    }
    h3 {
        color: rgb(255, 199, 167);
        font-weight: lighter;
        padding-bottom: 2rem;
    }
    p {
        font-size: 20px;
        padding-bottom: 2rem;
    }
    a {
        display: flex;
        width: 200px;
        height: 60px;
        font-size: 20px;
        color: #fff;
        background-color: orange;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
    }
    a:hover {
        background-color: rgb(216, 130, 59);
        transition: all 0.15s;
    }
}